<footer class="footer">
    <section class="footer__section">
        <article class="piePag">
            <h2><a href="#">Contactanos</a></h2>
            <p>No te olvides de visitar nuestras redes sociales y ponerte en contacto ante cualquier duda!</p>
            <div class="piePag__containHand">
                <div></div><span class="piePag__containIcon"><i class="fab fa-angellist"></i></span><div></div>
            </div>
        </article>
        <article class="piePag">
            <h2><a href="#">Sobre nosotros</a></h2>
            <p>Conocenos y enterate de todas las novedades del sitio!</p>
            <div class="piePag__containHand">
                <div></div><span class="piePag__containIcon"><i class="fab fa-angellist"></i></span><div></div>
            </div>
        </article>
        <article class="piePag">
            <h2>Medios de pago</h2>
            <p>Aceptamos todas las tarjetas y medios de pago</p>
            <div class="piePag__containHand">
                <div></div><span class="piePag__containIcon"><i class="fab fa-angellist"></i></span><div></div>
            </div>
        </article>
    </section>
    <div class="iconos">
        <a class="iconos__face" href=""><i class="fab fa-facebook"></i></i></a>
        <a class="iconos__inst" href=""><i class="fab fa-instagram"></i></a>
        <a class="iconos__twit" href=""><i class="fab fa-twitter"></i></a>
    </div>
    <div class="copiRigth">
        <p class="copiRigth__p">Craft Moments. &#169 Todos los derechos reservados.</p>
    </div>
</footer>