<header class="header">

    <!-- menu de navegacion de pc -->

    <div class="nav-header-pc">
        <div class="nav-header-destock">
            <div class="nav-header__logo">
                <h4>Craft Moment</h4>
            </div>
    
            <div class="nav-header__search">
                <div class="contain-search">
                    <input class="contain-search__search" type="text" name="search" id="">  <span class="contain-search__lupa"> <i class="fas fa-search"></i> </span>
                </div>
            </div>
    
            <div class="nav-header__optionUser">
    
                <span class="optionUser__user"> <a class="optionUser__a" href=""><i class="far fa-user"></i> </a> </span>
                <span class="optionUser__cart"> <a class="optionUser__a" href=""><i class="fas fa-shopping-cart"></i></a> </span>
    
            </div>
    
        </div>

        <!-- navegacion de los productos -->
        <div class="nav-booton">
            <ul class="nav-booton__ul">
                <li class="nav-booton__li"><a class="nav-booton__cevezas" href="">Cervezas</a></li>
                <li class="nav-booton__li"><a class="nav-booton__packs" href="">Packs</a></li>
                <li class="nav-booton__li"> <a class="nav-booton__vinos" href="">Vinos</a></li>
                <li class="nav-booton__li"><a class="nav-booton__listProducts" href="">Todos Los Productos</a></li>
            </ul>
        </div>
    </div>

    <!-- ---------------------------- -->
    <!-- menu de navegacion de mobile -->
    <!-- ---------------------------- -->
    <div class="nav-header-mobil">
        <div class="nav-mobile">
            <div class="nav-mobile__burguer" id="openBuguer">
                <i class="fas fa-bars"></i>
            </div>

            <div class="nav-mobile__logo">
                <h3 class="nav-mobile__logo__logo">Craft Moment</h3>
            </div>
        </div>

        <div class="mobile-search">
            <div class="mobile-search__contain">
                <input class="mobile-search__search"type="text" name="search" id=""> <span class="mobile-search__lupa"><i class="fas fa-search"></i></span>
            </div>
        </div>

        <!-- navegacion del menu hamburguer -->
        <div id="backgroundMenu">
            <div class="nav-burguer" id="openMenuBurguer">
                <div class="nav-burguer__containUser">
                    <a class="nav-burguer__user" href=""> <i class="far fa-user"></i> </a>
                    <span class="nav-burguer__fraseUser">Mi Cuenta</span>
                    <span class="nav-burguer__cruz" id="closeMenuBurguer"><i class="fas fa-times"></i></span>
                </div>
                <ul class="nav-burguer__ul">
                    <li class="nav-burguer__li"> <a class="nav-burguer__cerveza" href="">Mis Compras</a></li>
                    <li class="nav-burguer__li"> <a class="nav-burguer__cerveza" href="">Cervezas</a> <span class="nav-burguer__arrow"> <i class="fas fa-chevron-up"></i> </span></li>
                    <li class="nav-burguer__li"> <a class="nav-burguer__packs" href="">Packs</a> <span class="nav-burguer__arrow"> <i class="fas fa-chevron-up"></i> </span></li>
                    <li class="nav-burguer__li"> <a class="nav-burguer__vinos" href="">Vinos</a> <span class="nav-burguer__arrow"> <i class="fas fa-chevron-up"></i> </span></li>
                    <li class="nav-burguer__li"> <a class="nav-burguer__listProduct" href="">Todos Los Productos</a></li>
                </ul>
            </div>
        </div>
        </div>
        
    <script src="/javascripts/header.js"></script>
</header>