<%- include("./partials/head") %> 
<%- include("./partials/header") %>

<body>
    <main class="home">
        <section class="ContainCarrusel">
            <div class="carrusel">
                <div class="carrusel__containImages" id="containImg">
                    <img class="carrusel__img" src="/images/promo2.jfif" alt="promo1">
                    <img class="carrusel__img" src="/images/promo2.jfif" alt="promo2">
                    <img class="carrusel__img" src="/images/promo2.jfif" alt="promo2">
                </div>
                <button class="carrusel__nextImg">adelante</button>
                <ul class="containPuntos">
                    <li class="containPuntos__punto active"></li>
                </ul>
            </div>
        </section>

        <section class="ofert">
            <div class="ofert__containTitle">
                <h3 class="ofert__containTitle__title">CONOCÉ NUESTRAS OFERTAS!</h3>
            </div>

            <article class="ofert__containImgs">

                <div class="ofert__containImg1">
                    <div class="ofetr__containImg__img1"></div>             
                </div>
                <div class="ofert__containImg2Img3">
                    <div class="ofert__containImg2">
                        <div class="ofetr__containImg__img2"></div>
                    </div>
    
                    <div class="ofert__containImg3">
                        <div class="ofetr__containImg__img3"></div>                  
                    </div>
                </div>
                
            </article>

        </section>

        <section class="moments">
            <div class="moments__containTitle">
                <h3 class="moments__title">Para Momentos Inolvidables</h3>
            </div>

            <div class="products-moments">

                <article class="article-product">
                    <div class="contain-img">
                        <img class="contain-img__img" src="/images/product-1.png" alt="">
                    </div>

                    <div class="contain-content">
                        <h5>Nombre Producto</h5>
                        <p>descripcion del producto</p>
                        <span>$145</span>
                    </div>

                    <div class="contain-botons">
                        <div class="contain-botons__content">
                            <span class="contain-botons__ver"><a class="contain-botons__ver__a" href="">ver</a></span>
                            <span class="contain-botons__favorite"><i class="fas fa-heart"></i></span>
                            <span class="contain-botons__cart">agregar</span>
                        </div>
                    </div>

                    <svg>
                        <rect x="0" y="0" fill="none"></rect>
                    </svg>
                </article>
                <article class="article-product">
                    <div class="contain-img">
                        <img class="contain-img__img" src="/images/product-1.png" alt="">
                    </div>

                    <div class="contain-content">
                        <h5>Nombre Producto</h5>
                        <p>descripcion del producto</p>
                        <span>$145</span>
                    </div>

                    <div class="contain-botons">
                        <div class="contain-botons__content">
                            <span class="contain-botons__ver"><a class="contain-botons__ver__a" href="">ver</a></span>
                            <span class="contain-botons__favorite"><i class="fas fa-heart"></i></span>
                            <span class="contain-botons__cart">agregar</span>
                        </div>
                    </div>
                </article><article class="article-product">
                    <div class="contain-img">
                        <img class="contain-img__img" src="/images/product-1.png" alt="">
                    </div>

                    <div class="contain-content">
                        <h5>Nombre Producto</h5>
                        <p>descripcion del producto</p>
                        <span>$145</span>
                    </div>

                    <div class="contain-botons">
                        <div class="contain-botons__content">
                            <span class="contain-botons__ver"><a class="contain-botons__ver__a" href="">ver</a></span>
                            <span class="contain-botons__favorite"><i class="fas fa-heart"></i></span>
                            <span class="contain-botons__cart">agregar</span>
                        </div>
                    </div>
                </article>
                <article class="article-product">
                    <div class="contain-img">
                        <img class="contain-img__img" src="/images/product-1.png" alt="">
                    </div>

                    <div class="contain-content">
                        <h5>Nombre Producto</h5>
                        <p>descripcion del producto</p>
                        <span>$145</span>
                    </div>

                    <div class="contain-botons">
                        <div class="contain-botons__content">
                            <span class="contain-botons__ver"><a class="contain-botons__ver__a" href="">ver</a></span>
                            <span class="contain-botons__favorite"><i class="fas fa-heart"></i></span>
                            <span class="contain-botons__cart">agregar</span>
                        </div>
                    </div>
                </article>

            </div>
        </section>

        <section class="section-special">
            <h2 class="section-special__title">SELECION ESPECIAL</h2>
            <div class="special">
                <div class="special__imgs">
                    <img class="special__imgs__img" src="/images/pixlr-bg-result.png" alt="">
                    <button class="special__buy">comprar</button>
                </div>

                <div class="special__imgs">
                    <img class="special__imgs__img" src="/images/pixlr-bg-result.png" alt="">
                    <button class="special__buy">comprar</button>
                </div>

                <div class="special__imgs">
                    <img class="special__imgs__img" src="/images/pixlr-bg-result.png" alt="">
                    <button class="special__buy">comprar</button>
                </div>
            </div>
        </section>

        <section class="stock">

            <div class="stock__contain-title">
                <h2 class="stock__title">catalogo en stock</h2>
            </div>

            <div class="stock__product">
                <article class="article-product">
                    <div class="contain-img">
                        <img class="contain-img__img" src="/images/product-1.png" alt="">
                    </div>

                    <div class="contain-content">
                        <h5>Nombre Producto</h5>
                        <p>descripcion del producto</p>
                        <span>$145</span>
                    </div>

                    <div class="contain-botons">
                        <div class="contain-botons__content">
                            <span class="contain-botons__ver"><a class="contain-botons__ver__a" href="">ver</a></span>
                            <span class="contain-botons__favorite"><i class="fas fa-heart"></i></span>
                            <span class="contain-botons__cart">agregar</span>
                        </div>
                    </div>
                </article>

                <article class="article-product">
                    <div class="contain-img">
                        <img class="contain-img__img" src="/images/product-1.png" alt="">
                    </div>

                    <div class="contain-content">
                        <h5>Nombre Producto</h5>
                        <p>descripcion del producto</p>
                        <span>$145</span>
                    </div>

                    <div class="contain-botons">
                        <div class="contain-botons__content">
                            <span class="contain-botons__ver"><a class="contain-botons__ver__a" href="">ver</a></span>
                            <span class="contain-botons__favorite"><i class="fas fa-heart"></i></span>
                            <span class="contain-botons__cart">agregar</span>
                        </div>
                    </div>
                </article>
                <article class="article-product">
                    <div class="contain-img">
                        <img class="contain-img__img" src="/images/product-1.png" alt="">
                    </div>

                    <div class="contain-content">
                        <h5>Nombre Producto</h5>
                        <p>descripcion del producto</p>
                        <span>$145</span>
                    </div>

                    <div class="contain-botons">
                        <div class="contain-botons__content">
                            <span class="contain-botons__ver"><a class="contain-botons__ver__a" href="">ver</a></span>
                            <span class="contain-botons__favorite"><i class="fas fa-heart"></i></span>
                            <span class="contain-botons__cart">agregar</span>
                        </div>
                    </div>
                </article><article class="article-product">
                    <div class="contain-img">
                        <img class="contain-img__img" src="/images/product-1.png" alt="">
                    </div>

                    <div class="contain-content">
                        <h5>Nombre Producto</h5>
                        <p>descripcion del producto</p>
                        <span>$145</span>
                    </div>

                    <div class="contain-botons">
                        <div class="contain-botons__content">
                            <span class="contain-botons__ver"><a class="contain-botons__ver__a" href="">ver</a></span>
                            <span class="contain-botons__favorite"><i class="fas fa-heart"></i></span>
                            <span class="contain-botons__cart">agregar</span>
                        </div>
                    </div>
                </article><article class="article-product">
                    <div class="contain-img">
                        <img class="contain-img__img" src="/images/product-1.png" alt="">
                    </div>

                    <div class="contain-content">
                        <h5>Nombre Producto</h5>
                        <p>descripcion del producto</p>
                        <span>$145</span>
                    </div>

                    <div class="contain-botons">
                        <div class="contain-botons__content">
                            <span class="contain-botons__ver"><a class="contain-botons__ver__a" href="">ver</a></span>
                            <span class="contain-botons__favorite"><i class="fas fa-heart"></i></span>
                            <span class="contain-botons__cart">agregar</span>
                        </div>
                    </div>
                </article>
                <article class="article-product">
                    <div class="contain-img">
                        <img class="contain-img__img" src="/images/product-1.png" alt="">
                    </div>

                    <div class="contain-content">
                        <h5>Nombre Producto</h5>
                        <p>descripcion del producto</p>
                        <span>$145</span>
                    </div>

                    <div class="contain-botons">
                        <div class="contain-botons__content">
                            <span class="contain-botons__ver"><a class="contain-botons__ver__a" href="">ver</a></span>
                            <span class="contain-botons__favorite"><i class="fas fa-heart"></i></span>
                            <span class="contain-botons__cart">agregar</span>
                        </div>
                    </div>
                </article>
            </div>

        </section>

        <section class="section-info">
            <div class="section-info__envios">
               <div class="section-info__icon"><i class="fas fa-people-carry"></i></div> 
                    <div class="section-info__info">
                        <h5 class="section-info__title">A todo el país</h5>
                        <p class="section-info__parrafo">Te lo llevamos a tu casa con el máximo cuidado.</p>
                    </div>
            </div>

            <div class="section-info__rapidos">
                <div class="section-info__icon"><i class="fas fa-shipping-fast"></i></div>
                    <div class="section-info__info">
                        <h5 class="section-info__title">Rápido y Fácil</h5>
                        <p class="section-info__parrafo">Un servicio que sorprende de principio a fin.</p>
                    </div>
            </div>

            <div class="section-info__descuento">
                <div class="section-info__icon"><i class="fas fa-percent"></i></div>
                    <div class="section-info__info">
                        <h5 class="section-info__title">20% Con transferencia bancaria</h5>
                        <p class="section-info__parrafo">Con Tarjeta o Mercado Pago</p>
                    </div>
            </div>
        </section>

        <div class="network-insta">
            <h4 class="network-insta__title"><span class="network-insta__icon"><i class="fab fa-instagram"></i></span>@Craft_Moments</h4>
            <p class="network-insta__p">seguinos en instagram</p>
            <a class="network-insta__follow" href="">seguinos</a>
        </div>

    </main>

    <%- include("./partials/footer") %>

    <script src="/javascripts/carruselHome.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
</body>
