<%- include("./partials/head") %> 
<body>
    <%- include("./partials/header") %>
    <main class="listProduct">
        <div class="titleContain">
            <h1 class="titleContain__h1">Lista de Productos</h1>
        </div>

        <div class="containSections">
            <section class="sectionSearch">
                <h3 class="titleFilter">filtrado de Productos</h3>
                <ul class="sectionSearch__ul">
                    <li class="sectionSearch__li">marca <i class="fas fa-chevron-down"></i></li>
                    <li class="sectionSearch__li">categoria <i class="fas fa-chevron-down"></i></li>
                    <li class="sectionSearch__li">Precio <i class="fas fa-chevron-down"></i></li>
                </ul>
            </section>

            <section class="sectionProducts">
                
                <article class="article-product">
                    <div class="contain-img">
                        <img class="contain-img__img" src="/images/product-1.png" alt="">
                    </div>

                    <div class="contain-content">
                        <h5>Nombre Producto</h5>
                        <p>descripcion del producto</p>
                        <span>$145</span>
                    </div>

                    <div class="contain-botons">
                        <div class="contain-botons__content">
                            <span class="contain-botons__ver"><a class="contain-botons__ver__a" href="">ver</a></span>
                            <span class="contain-botons__favorite"><i class="fas fa-heart"></i></span>
                            <span class="contain-botons__cart">agregar</span>
                        </div>
                    </div>

                    <svg>
                        <rect x="0" y="0" fill="none"></rect>
                    </svg>
                </article>
                <article class="article-product">
                    <div class="contain-img">
                        <img class="contain-img__img" src="/images/product-1.png" alt="">
                    </div>

                    <div class="contain-content">
                        <h5>Nombre Producto</h5>
                        <p>descripcion del producto</p>
                        <span>$145</span>
                    </div>

                    <div class="contain-botons">
                        <div class="contain-botons__content">
                            <span class="contain-botons__ver"><a class="contain-botons__ver__a" href="">ver</a></span>
                            <span class="contain-botons__favorite"><i class="fas fa-heart"></i></span>
                            <span class="contain-botons__cart">agregar</span>
                        </div>
                    </div>

                    <svg>
                        <rect x="0" y="0" fill="none"></rect>
                    </svg>
                </article>
                <article class="article-product">
                    <div class="contain-img">
                        <img class="contain-img__img" src="/images/product-1.png" alt="">
                    </div>

                    <div class="contain-content">
                        <h5>Nombre Producto</h5>
                        <p>descripcion del producto</p>
                        <span>$145</span>
                    </div>

                    <div class="contain-botons">
                        <div class="contain-botons__content">
                            <span class="contain-botons__ver"><a class="contain-botons__ver__a" href="">ver</a></span>
                            <span class="contain-botons__favorite"><i class="fas fa-heart"></i></span>
                            <span class="contain-botons__cart">agregar</span>
                        </div>
                    </div>

                    <svg>
                        <rect x="0" y="0" fill="none"></rect>
                    </svg>
                </article>
            </section>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>