<%- include("./partials/head") %> 
<body>
    <%- include("./partials/header") %>
    <main class="productDetail">
        <article class="cardProductContain">
            <div class="cardProductContain__containImg">
                <img src="/images/pixlr-bg-result.png" alt="">
            </div>
            <div class="conatinFullInfo">
                <div class="conatinInfo">
                    <h2 class="conatinInfo__h2">Nombre del Producto</h2>
                    <p class="conatinInfo__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique fuga dignissimos molestiae, est rem vel fugit commodi totam distinctio sunt in amet voluptates sed velit tempora doloribus exercitationem inventore incidunt.
                    Minus quidem officia cumque ipsum laboriosam itaque eius dolore aliquam dolorum placeat, veritatis libero, repellendus odit fugiat modi. Impedit quia odio iste itaque voluptatibus ratione et, corporis amet numquam libero.
                    Corporis perspiciatis delectus dicta minus numquam aspernatur nihil repellendus porro architecto maxime eos minima distinctio consequuntur vitae illo, voluptatem voluptatibus a harum sed placeat dolore illum iusto corrupti pariatur? Amet.
                    Laborum nam eius tenetur cumque at blanditiis sapiente. Pariatur iusto aliquam necessitatibus voluptatem, fuga explicabo quasi iste eligendi enim rerum voluptatum aspernatur, alias temporibus adipisci debitis earum excepturi cupiditate hic.
                    </p>
                </div>
                <div class="containOptionBuy">
                    <div class="containOptionBuy__infoBuy">
                        <p class="containOptionBuy__infoBuy--p">unidad</p>
                        <span class="containOptionBuy__infoBuy--span">$1000</span>
                        <button class="containOptionBuy__infoBuy--button">Comprar</button>
                    </div>
                    <div class="containOptionBuy__infoBuy">
                        <p class="containOptionBuy__infoBuy--p">unidad</p>
                        <span class="containOptionBuy__infoBuy--span">$1000</span>
                        <button class="containOptionBuy__infoBuy--button">Comprar</button>
                    </div>
                    <div class="containOptionBuy__infoBuy">
                        <p class="containOptionBuy__infoBuy--p">unidad</p>
                        <span class="containOptionBuy__infoBuy--span">$1000</span>
                        <button class="containOptionBuy__infoBuy--button">Comprar</button>
                    </div>
                </div>    
            </div>
            
        </article>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>