/* home pc */
.home .ContainCarrusel{
    display: none;
}
/* ---- */

.home{

}

.home .ofert{

}

.home .ofert__containTitle{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.home .ofert__containTitle__title{
    color: var(--color-yellow);
    font-family: var(--font-title);
    font-size: 30px;
}

.home .ofert__containImgs{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 8px;
    flex-direction: column;
}

.home .ofert__containImg1{
    width: 100%;
    height: 200px;
    background-color: var(--color-productGround);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.home .ofetr__containImg__img1{
    background-image: url(/images/promo3.jpeg);
    width: 100%;
    background-size: cover;
    height: 200px;
    background-position-x: center;
}

.home .ofert__containImg2Img3{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.home .ofert__containImg2{
    width: 50%;
}

.home .ofetr__containImg__img2{
    background-image: url(/images/promo2.jfif);
    width: 100%;
    background-size: cover;
    height: 200px;
    background-position-x: center;
}

.home .ofert__containImg3{
    width: 50%;
}

.home .ofetr__containImg__img3{
    background-image: url(/images/promo3.jpeg);
    width: 100%;
    background-size: cover;
    height: 200px;
    background-position-x: center;
}

.home .moments{

}

.home .moments__containTitle{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px
}

.home .moments__title{
    color: var(--color-yellow);
    font-family: var(--font-title);
    font-size: 30px;
}

.home .products-moments{
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.home .section-special{

}

.home .section-special__title{
    color: var(--color-yellow);
    font-family: var(--font-title);
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

.home .special{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 70px;
}

.home .special__imgs{
    width: 29%;
    text-align: center;
    background-image: url(/images/fondoPromo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 0 10px 1px #000;
}

.home .special__buy{
    margin-top: 15px;
    background-color: var(--color-productGround);
    color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
    border-radius: 100px;
    padding: 5px 20px;
    font-family: var(--font-p);
    text-transform: uppercase;
    font-size: .9rem;
    margin-bottom: 20px;
}

.home .special__imgs__img{
    width: 90%;
    padding-top: 12px;
}

.home .stock{

}

.home .stock__contain-title{
    text-align: center;
    margin-bottom: 35px;
}

.home .stock__title{
    color: var(--color-yellow);
    font-family: var(--font-title);
    font-size: 30px;
}

.home .stock__product{
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home .section-info{
    background-color: var(--color-yellow);
    margin-top: 35px;
    padding: 10px 0px 10px 10px;
}

.home .section-info__envios{
    display: flex;
    margin-bottom: 20px;
}
.home .section-info__rapidos{
    display: flex;
    margin-bottom: 20px;
}
.home .section-info__descuento{
    display: flex;
}

.home .section-info__icon{
    background-color: var(--color-productGround);
    padding: 19px;
    border-radius: 100%;
    color: var(--color-yellow);
    margin-right: 10px;
}

.home .section-info__icon i{
    font-size: 20px;
}

.home .fa-percent{ /* icono porcentaje */
    padding-right: 5px ;
}

.home .section-info__info{

}

.home .section-info__title{
    font-family: var(--font-title);
}

.home .section-info__parrafo{
    font-family: var(--font-p);
}

.home .network-insta{
    background-color: var(--color-productGround);
    width: 75%;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 10px 10px 15px 1px #000;
    text-align: center;
}

.home .network-insta__title{
    color: var(--color-yellow);
    font-size: 24px;
}

.home .network-insta__icon{
    margin-right: 3px;
}

.home .network-insta__icon i{

}

.home .network-insta__p{
    color: #fff;
    text-transform: capitalize;
    font-family: var(--font-p2);
    font-size: 21px;
    margin-bottom: 10px;
}

.home .network-insta__follow{
    color: #000;
    background-color: var(--color-yellow);
    padding: 4px 20px;
    border-radius: 20px;
}

/* espacio tablet */

@media (min-width:768px) {

    .home .ContainCarrusel{
        display: block;
        width: 100%;
    }

    .home .carrusel{
        width: 100%;
        background-color: #000;
        overflow: hidden;
    }

    .home .carrusel .carrusel__containImages{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        max-height: 430px;

        transition: all .5s ease;
        

    }

    .home .carrusel .carrusel__img{
        height: 430px;
    }

    .home .carrusel .containPuntos{
        width: 100%;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1f1f1f;
    }

    .home .carrusel .containPuntos__punto{
        width: 20px;
        height: 6px;
        background-color: #fff;
        margin-right: 10px;
    }

    .home .carrusel .containPuntos__punto.active{
        background-color: var(--color-yellow);
    }

    /* para momentos inolvidables */

    .home .products-moments {
        width: 98%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .home .article-product {
        width: 215px;
    }

    .home .article-product rect{
        width: 215px;
    }
    /* ----------- */

    .home .ofert { /* ofetas imagenes */
        width: 95%;
        margin: 0 auto;
    }

    .home .ofert__containImgs {
        justify-content: space-between;
        flex-direction: row;
    }

    .home .ofert__containImg1 {
        width: 32%;
        margin-bottom: 0;
    }

    .home .ofert__containImg2Img3 {
        width: 66%;
        justify-content: space-around;
    }

    .home .ofert__containImg2 {
        width: 45%;
    }
    .home .ofert__containImg3 {
        width: 45%;
    }

    .home .section-info {
        padding: 10px 10px 10px 10px;
        display: flex;
        justify-content: space-around;
    }

    .home .section-info__rapidos {
        display: unset;
        text-align: center;
    }
    .home .section-info__descuento {
        display: unset;
        text-align: center;
    }
    .home .section-info__envios {
        display: unset;
        text-align: center;
    }

    .home .section-info__icon {
        padding: 20px 20px;
        border-radius: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 66px;
        margin-right: unset;
        margin: 0 auto;
    }

    .home .section-info__icon i {
        font-size: 27px;
    }

    .home .section-info__title {
        font-size: 24px;
    }

    .home .section-info__parrafo {
        font-size: 18px;
    }

    .home .network-insta {
        width: 50%;
    }
}

/* espacio pc */

@media (min-width:1024px) {

    .home .ofert__containImg1 {
        width: 60%;
        height: 500px;
        margin-right: 10px;
    }

    .home .ofetr__containImg__img1 {
        height: 100%;
    }

    .home .ofert__containImg2Img3 {
        width: 60%;
        flex-direction: column;
    }

    .home .ofert__containImg2 {
        width: 100%;
    }

    .home .ofetr__containImg__img2 {
        height: 240px;
    }

    .home .ofert__containImg3 {
        width: 100%;
    }

    .home .ofetr__containImg__img3 {
        height: 240px;
    }

    /* imagen de las 3 cervezas */

    .home .special {
        justify-content: space-evenly;
    }

    .home .special__imgs {
        width: 24%;
    }

    .home .network-insta { /* tarjeta instagram */
        width: 40%;
    }
    
}