<%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %>
    <main>
        <div>
            <h1>Bien venidos a craftMoments</h1>
        </div>

        <form action="">
            <a href="">todavia no estas registrado?</a>
            <article>
                <div>
                    <span>**</span><input type="text" name="" id="">
                </div>
                <div>
                    <span>**</span><input type="text" name="" id="">
                </div>
            </article>
            <div>
                <button>Ingresar</button>
            </div>
            <div>
                <div>
                </div><span><i class="fab fa-angellist"></i></span><div>
                </div>
            </div>
            <article>
                <div>
                    <span>**</span><input type="text" name="" id="">
                </div>
                <div>
                    <span>**</span><input type="text" name="" id="">
                </div>
            </article>
        </form>
    </main>
    <%- include("../partials/footer") %>
</body>
</html>